/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  max-width: 90%;
  margin: auto;
}

.block {
  margin-top: 40px;
}

.inline-block {
  display: inline-block;
}
