name: CI

on:
  push:
    branches: [master]
  pull_request:

jobs:
  build-lib:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18.17.0
          cache: 'npm'

      - name: Install dependencies
        run: npm i

      - name: Build
        run: npm run build:lib
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18.17.0
          cache: 'npm'

      - name: Install dependencies
        run: npm i

      - name: Run tests
        run: npm run test:lib:headless

  build-playground:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18.17.0
          cache: 'npm'

      - name: Install dependencies
        run: npm i

      - name: Build playground
        run: npm run build

